name:                Maxime Vaillancourt
title:               Maxime Vaillancourt
url:                 https://maximevaillancourt.com
enforce_ssl:         maximevaillancourt.com
baseurl:             ""
include:             ['_pages']
exclude:             ['_includes/notes_graph.json']

permalink:           /blog/:slug
relative_permalinks: false

plugins:
  - jekyll-redirect-from
  - jekyll-last-modified-at

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:collection/:path

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
