---
---

<div class="post-heading">
  <h1 class="post-title">All notes 📘</h1>
  <p>I'm experimenting with maintaining a public graph of notes to foster an environment where thoughts collide, in a way that I can build upon the combination of ideas. Kind of like a digital garden, with small seedlings that eventually grow into mature trees. 🌱</p>
</div>

{% assign notes = site.notes | where_exp: "item", "item.path contains 'notes'" | sort: "date" | reverse %}
{% for entry in notes %}
  {% unless entry.path contains "index.md" or entry.path contains "index.html" %}
    {% assign currentdate = entry.last_modified_at | date: "%B %Y" %}
    {% if currentdate != date %}
      {% assign date = currentdate %}
      <div class="super">Last updated in {{ date }}</div>
    {% endif %}
    <div class="blog-entry">
      <a class="internal-link" href="{{ entry.url }}">{{entry.title | replace: '_notes', '/notes' }}</a>
      <div class="sub">{{ entry.excerpt | strip_html }}</div>
    </div>
  {% endunless %}
{% endfor %}
